[2018-03-18 04:29] xaque208 opened #2 "Manaaging a SPF TXT record bug"
I'm getting this every time setting a record.  It looks like some escape issue when reading the value.

[code]

[2018-03-18 10:21] tiramiseb commented on #2
Quotes are added by the Gandi API, probably for our convenience : TXT records with spaces must be protected by quotes.

For the moment, I have decided not to fiddle with quotes, forcing us to include them manually.

I completely understand what you are facing and I somewhat agree with you, however I'm still hesitating whether the Go library or the Terraform provider should add or remove them at an

[2018-03-18 19:32] xaque208 commented on #2
That works fine.  `value = ["\"v=spf1...\""]`.  Thanks for the pointer, I'm good with that.

[2018-03-18 19:32] #2 closed

[2018-03-18 19:33] xaque208 commented on #2
Also, thanks for writing this!

[2018-06-05 18:24] sebbbastien opened #3 "Resource still here after terraform destroy"
Hi,

I have a problem with `gandi_zone` destruction.

Here is my `gandi.tf` file :
[code]

`terraform plan` give this output:
[code]

And it works fine:
[code]

But `terraform destroy` return an error:

[code]

Today I use this workaround:

`curl -s -X DELETE -H "Content-Type: application/json" -H "X-Api-Key: XXXX" https://dns.api.gandi.net/api/v5/domains/domain.cloud`

But I think that gandi prov

[2018-06-05 21:09] tiramiseb commented on #3
Well, the Gandi API documentation (https://doc.livedns.gandi.net/) has no details on this API call, I have only implemented what has been documented :)

Thanks for the details about your workaround, I will implement this in the library and the provider.

[2018-06-05 21:37] #3 closed

[2018-06-05 21:38] tiramiseb commented on #3
@sebbbastien, could you please confirm it is fixed with the last commit ?
(don't forget to update the go-gandi-livedns package too)

[2018-06-11 11:47] ebal opened #4 "terraform import - crash"
Hi,

disclaimer: I am new to **terraform**

notes below are taken today within a clean centos7 latest docker image.

for privacy reasons, I've changed my domain to example.com
and tried to masq my zone id (hopefully it will give you an idea)

[code]

[2018-06-11 13:53] tiramiseb commented on #4
TLDR:

* use `XXXXXXXX-6bd2-11e8-9fb1-00163ee24379/@/MX` as the record ID and you will not have this problem
* the crash is because I am a nasty developer

-----

Problem is here:
```sh-4.2# ./terraform import gandi_zonerecord.mx XXXXXXXX-6bd2-11e8-9fb1-00163ee24379```
When importing into terraform, you should use the records's ID itself, not the zone's ID.

In your case, it would be something lik

[2018-06-14 17:42] abagshaw opened #5 "Update nameservers for separate DNS service"
Is it possible to just set the nameservers in the terraform config to facilitate using a different DNS service (not Gandi's LiveDNS)?

[2018-06-14 19:00] tiramiseb commented on #5
Do you mean there are other services with the same API ?

[2018-06-14 19:11] abagshaw commented on #5
I'm not sure - I'm not familiar with the Gandi API at all. All I'm wanting to do is use Google Cloud's DNS and then plug in the Google Cloud DNS nameservers into my domain's config all using terraform.

[2018-06-15 06:04] tiramiseb commented on #5
Oh I see. I did not understand your request :)

If I understood correctly, you want to set the nameservers like you would manually on https://admin.gandi.net/domain/<uuid>/<domain_name>/nameservers, to point to the Google DNS service, and then use the Google Cloud Terraform provider to configure your DNS records.

You want to use https://www.terraform.io/docs/providers/google/r/dns_managed_zone.ht

[2018-06-15 06:04] #5 closed

[2018-06-15 14:05] abagshaw commented on #5
@tiramiseb Yup that's exactly what I'm trying to do, ok I might open a feature request with Gandi. Thanks!

[2018-06-15 14:09] abagshaw commented on #5
@tiramiseb Yup, that's exactly what I'm trying to do. What about [this api](http://doc.rpc.gandi.net/domain/usage.html#domain-nameservers-set-usage)? Would that provide the functionality necessary to implement nameserver configuration in terraform?

[2018-06-15 14:43] abagshaw commented on #5
Ok I see, thanks!

[2018-06-16 09:51] tiramiseb commented on #5
Thanks @baloo for the details.

I personally will not be leader on this type of requests, simply because this provider is meant for the simple use-case where DNS records are managed on Gandi servers. I would be happy to implement new LiveDNS features in this provider, or to merge some PRs.

If you implement @abagshaw 's request (being able to change the nameservers for a domain) with LiveDNS, I ca

[2018-06-19 18:17] baloo commented on #5
It's a different subsystem (one that talks to registry with EPP). So it's uneasy to add this in livedns itself. Another restful API is coming.

Yeah, our documentation sucks :( We're working on that. I'll try to look around and add what's missing.

[2018-10-01 20:49] manveru opened #7 "Release?"
Would be nice if you could make a release for this, even if it's just tagged as 0.0.1 :)

[2018-10-02 07:08] tiramiseb commented on #7
You are completely right.
I have been using it without an official release long enough, and it looks like I'm not the only one :)
Will be done soon. Tag will be 1.0.0.

[2018-10-02 07:38] tiramiseb commented on #7
I would like to include #8 in the release, so I will wait a bit, hoping its author will talke my remarks into account soon :)

[2018-10-02 21:46] #4 closed

[2018-10-02 21:47] tiramiseb commented on #7
The aforementioned PR  has been merged. I will make the release tomorrow.

[2018-10-03 13:02] tiramiseb commented on #7
Done!

[2018-10-03 13:02] #7 closed

[2019-04-01 11:25] gildor478 opened #10 "Checksum mistmatch when trying to build."
It seems that there is a problem with the go.sum file, maybe it needs to be generated again. I got the following error when trying to terraform-provider-gandi.

[code]

For now, I have solved it by removing go-getter from the go.sum file:
[code]

It would be nice to update the go.sum with latest version of go-getter + do a new minor release.

Thanks

[2019-04-03 19:56] tiramiseb commented on #10
Fixed by 5ac268067b574577313109cfff29a10ebeeb2bc4

[2019-04-03 19:56] #10 closed

[2019-05-26 20:07] cnorthwood opened #11 "Incompatible with Terraform 0.12"
Terraform 0.12 seems to have backwards incompatible changes in it, and it refuses to run this plugin with the error

    Error: Failed to instantiate provider "gandi" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]

[2019-06-12 16:35] romcok commented on #11
Go to file go.mod and change line :15 from
_github.com/hashicorp/terraform v0.11.10_
to
_github.com/hashicorp/terraform v0.12.0_
It should work.

[2019-07-04 18:02] #11 closed

[2019-09-19 17:16] dubo-dubon-duponey opened #14 "Homebrew package"
Hey there!

Thanks A LOT for your work on this.

For my own convenience, I ended-up writing a homebrew formula for it:

[code]

To use:

[code]

Feel free to take it if there is an interest - happy to submit a PR as well.

[2019-09-20 06:49] tiramiseb commented on #14
Don't hesitate,
a PR, create...
and submit,
I'll take a look at it!

[2019-09-20 08:28] dubo-dubon-duponey commented on #14
Done (#15)

[2019-10-01 14:41] tiramiseb commented on #14
I'll take a look, seems like I can't merge it without modification.

Closing this issue, keeping the PR open.

[2019-10-01 14:41] #14 closed

[2019-10-08 12:04] matthewbaggett opened #19 ""The provider provider.gandi does not support data source "gandi_zone".""
Apparently, data provider gandi_zone doesn't work, atleast in 0.12

[code]

results in

[code]

[2019-10-08 19:02] tiramiseb commented on #19
Are you using latest revision from master, or v1.1.0 ?

[2019-10-09 09:45] matthewbaggett commented on #19
v1.1.0.. I'll give Master a whirl.

[2019-10-09 10:15] matthewbaggett commented on #19
Seems to work in Master. Can we get another release cut so the working features match the documentation? :)

Maybe as v1.1.1?

[2019-10-09 23:00] tiramiseb commented on #19
already done beforewards ;)
https://github.com/tiramiseb/terraform-provider-gandi/releases/tag/v1.1.1

[2019-10-15 14:35] #19 closed

[2019-11-04 08:44] albertoig opened #21 "Broken dependencies"
Hi! I've using this pluging for a month more or less. Today starts to failing all the time because the dependencies:

	/usr/lib/go/src/github.com/hashicorp/hcl/v2 (from $GOROOT)
	/go/src/github.com/hashicorp/hcl/v2 (from $GOPATH)
package github.com/hashicorp/hcl/v2/hcldec: cannot find package "github.com/hashicorp/hcl/v2/hcldec" in any of:
	/usr/lib/go/src/github.com/hashicorp/hcl/v2/hcldec (from

[2019-11-04 08:53] tiramiseb commented on #21
I have just tested it right now (using `make`), from a clean install, it works correctly...

I don't know what could be wrong with your install :/

[2019-11-04 09:23] albertoig commented on #21
i'm doing it from different laptops and networks and it's still not working, do you know if you could have these packages cached? i went to these dependencies and i'm getting a 404 in terraform repositories. For example this [one](github.com/hashicorp/hcl/v2)

[2019-11-04 09:39] tiramiseb commented on #21
Regarding `github.com/hashicorp/hcl/v2`, that's because it's a specific syntax for the go modules. When reading this URL, Go takes a release tagged with major version 2, from github.com/hashicorp/hcl. The URL itself does not exist as-is.

[2019-11-04 10:40] albertoig commented on #21
with the command  go get -u github.com/tiramiseb/terraform-provider-gandi is not working propertly, i'm gonna try with make.

[2019-11-04 23:19] pavan4 opened #22 "403 using the latest build"
Hello, My config looks like so,
[code]

I am getting an `Error: 403: Access was denied to this resource.`

I have the proper key and I am able to use `curl` on the api with that exact key. Am I doing something very obviously wrong ?

[2019-11-05 00:30] pavan4 commented on #22
Was caused by a stale state in terraform. Closing it.

[2019-11-05 00:30] #22 closed

[2019-12-11 16:15] jason-johnson commented on #21
I am trying to make a new plugin and after trying “go get ./...” in my project I get this same errors as above. Could this have to do with the go version? It seems this version selection syntax is causing problems for some reason.

[2019-12-12 13:25] tiramiseb commented on #21
Okay, after digging a little bit, I've found this:

I guess you are not using Go Modules, that's because you cannot install HCL 2, and that's because you cannot install terraform-provider-gandi; which indirectly depends on it.

The solution is to use Go Modules.

[2019-12-12 13:25] #21 closed

[2020-04-17 13:29] mehdicopter opened #28 "Purpose of the gandi_domainattachment resource"
Hello @tiramiseb,

I would like to know what is the purpose of the resource `gandi_domainattachment` ?

[2020-04-17 13:44] tiramiseb commented on #28
@thommay it looks live the latest changes have not been reflected in the README.

I personnally have not used the provider recently, could you check at the README? Thanks!

[2020-04-17 13:46] tiramiseb opened #29 "@thommay as collaborator"
@thommay, do you want direct access to this repository? maybe it would make it easier to work on the provider.

thanks!

[2020-04-18 14:19] pedrinhov94 opened #30 "v1.1.1 : 403 Access Denied to this resource"
Hi !

I am using this basic configuration that is in the readme but I am unable to update DNS records.

[code]

As I apply the configuration I got 403 errors for the resources gandi_zonerecord and gandi_domainattachment

[code]
The datasource has been imported correctly

[code]
I was also able to create a new resource gandi_zone but it was still impossible to create any zone record in this new zon

[2020-04-25 07:39] thommay commented on #29
That sounds good, thanks!

[2020-04-25 12:44] tiramiseb commented on #29
done

[2020-04-25 12:44] #29 closed

[2020-04-29 15:06] akosveres opened #31 "Are contacts mixed?"
Hi, I wanted to start using the provider to manage my domains, I started importing all existing domains, which worked, then decided to update all contact information, I do see changes being applied, I apply them but for every plan the changes are still there, in the Gandi dashboard I don't see any change for the "Owner" field.

Browsing the code I saw this, seems the mapping is off?
https://github

[2020-04-29 15:22] tiramiseb commented on #31
Looks like you're right. Don't hesitate to provide a PR!

[2020-04-30 09:46] #31 closed

[2020-05-12 19:15] mehdicopter commented on #28
Any update on this?

[2020-07-26 14:25] scottmuc opened #34 "Is a `2.0.0` in the works?"
I was having problems with my setup until I saw that `master` is deviating from `v1.1.1`. Take a look at what I'm doing for my [personal infrastructure](https://github.com/scottmuc/infrastructure/blob/master/scripts/terraform#L9).

[2020-07-27 13:29] thommay commented on #30
Hi,
yes the Gandi API has unfortunately changed pretty significantly. I'm looking to prepare a new release soon - but that will be quite a breaking change.

[2020-07-27 13:30] thommay commented on #34
Yes, 2.0 is close I think. Testing and validation of `master` would be appreciated.

[2020-07-27 19:05] scottmuc commented on #34
Thanks @thommay! I'm happy to test out what's in `master`. Just didn't want to commit to what could be a moving target. I'll close this and create any issues if anything comes up.

[2020-07-27 19:05] #34 closed

[2020-07-28 09:26] #28 closed

[2020-07-29 19:13] scottmuc opened #39 "Troubles migrating from `v1.1.1` to `v2.0.0`"
I've started my migration and encountered a few hurdles. Perhaps this is me not quite understand how to mange `terraform`.

# Workflow

The entry point to me updating my DNS begins with `terraform_apply` ([src](https://github.com/scottmuc/infrastructure/blob/master/scripts/terraform_apply)). The `gandi-terraform-provider` is installed via [this script](https://github.com/scottmuc/infrastructure/bl

[2020-07-30 06:34] scottmuc commented on #39
This might be overkill for this terraform provider but might be good for the learning experience.

Would it be possible to keep both types of schemas available in `v2.x.x`? Then remove the deprecated schema in `v3.x.x`?

Ideally I would like to migrate my zones to the new schema one at a time. I also don't want to be swapping terraform providers... so one version of the provider that supports both

[2020-08-01 17:15] wiggly opened #40 "TXT records always require re-creation v 2.0.0-rc1"
Creating a TXT record works but attempting to plan immediately afterwards indicates that changes are required.

This appears to be due to quote-handling.

Example output after having already created the record successfully;

[code]

[2020-08-01 18:44] wiggly opened #41 "Long TXT records always require re-creation"
So, for TXT records over a certain length DNS requires them to be split and the record comes back split from the GANDI API.

This means that for things like DKIM records, even if you add quotes into the string the resource always appears to require re-creation.

Example record with dummy data to show the TF outut on plan;

[code]

[2020-08-01 18:55] wiggly commented on #40
I have since realised that you can add embedded quotes for this but I find it a bit unintuitive that this is required seeing as the record is obviously meant to accept text content.

[2020-08-02 13:33] scottmuc commented on #40
I can confirm I have the same issue with `TXT` records.

[2020-08-12 15:12] a-meynard opened #42 "adding dns record to existing zone / domain doesn't work"
## Context

I was trying to add a new record to an existing domain using exactly the same codeblock as in the documentation (the README file : "Zone data source"). I'm using the master branch.

I only use the api_key on the gandi provider. I don't know exactly where to find `sharing_id` if it's needed, but still the error is not explicit if the problem comes from this provider misconfiguration.

#

[2020-08-16 15:20] aolwas commented on #42
I have the same problem with 2.0.0-rc1 tag.

[2020-08-16 15:38] aolwas commented on #42
Regarding gandi_livedns_domain resource code, I commented the following code in `gandi/data_domain.go`and it seems to work:
[code]

Really not sure it was the right thing to do

[2020-09-16 16:17] a-meynard commented on #42
any news on this and on #43  ?

[2020-09-18 11:48] #42 closed

[2020-09-18 11:50] thommay opened #45 "Move to an org?"
@tiramiseb I think we should move the terraform provider and the api to an org ( `go-gandi`?). That way we can easily publish the terraform provider to hashicorp.

[2020-09-18 11:51] #30 closed

[2020-09-18 12:22] tiramiseb commented on #45
Yes, you are right. I'm doing it right now.

[2020-09-18 12:30] #45 closed

[2020-09-18 12:32] tiramiseb commented on #45
There it is, an organization ! :wink:
I have changed repositories addresses in `*.go` and `go.mod` files, but I'm not sure it is enough. Don't hesitate to make any other necessary change.

I'm going to make a PR on the terraform doc to change the repository address in the community providers page.

[2020-09-18 13:28] thommay commented on #45
@tiramiseb thanks! Would you mind making me an owner?

[2020-09-18 13:31] tiramiseb commented on #45
done :slightly_smiling_face:

[2020-09-20 09:46] manvalls opened #47 "Publish to the terraform registry?"
Please? 🙇‍♂️

[2020-09-20 20:09] thommay commented on #47
Yep, it's the reason we moved to an org :). Watch this space.

[2020-09-21 09:12] thommay opened #48 "Preparing for 2.0.0"
The intent is to publish 2.0.0 to the Terraform registry (#47):

- [x] Check with Gandi that they're happy we're doing this
- [x] [Document the provider](https://www.terraform.io/docs/registry/providers/docs.html) (see #77 )
- [x] [Create a GPG key](https://www.terraform.io/docs/registry/providers/publishing.html#preparing-and-adding-a-signing-key)
- [x] [Register GPG key with Terraform Registry](

[2020-09-21 09:14] thommay commented on #39
Hi,
we're unlikely to provide compatability resources, since you'll have to migrate some time and the work to add them is quite large, since they're closely mapped to the old API.
It would be great if you could provide an complete example of one of the MX records that didn't work.

[2020-09-21 09:23] thommay commented on #48
@baloo any idea who we might contact at Gandi to check that it's ok to publish this to the terraform registry?
Also, I asked a while ago about whether y'all had a sandbox for testing API libraries (and this provider) - did anything happen there?

[2020-09-21 18:27] thommay commented on #47
Duplicates: #48

[2020-09-21 18:27] #47 closed

[2020-10-11 11:48] scottmuc commented on #39
Heya @thommay, apologies for the delay. I'll try and revisit the migration soon.

[2020-10-31 15:18] gizero commented on #48
Any news on this? We currently pull from @manvalls published fork but there's an annoying issue with file permissions (mentioning here, because of disabled issues on the fork) after the provider is pulled. Would be nice to work to fix all of this upstream, which means here, if I'm not missing something obvious.

[2020-10-31 15:39] manvalls commented on #48
Sorry, I build - and use - the provider on Windows, hence the file permissions issue. I'll try to fix it later on today.

[2020-11-12 07:53] gizero commented on #48
@manvalls Thanks for fixing the file permission issue on your latest release (and sorry for hijacking this issue again..)
@thommay Any plans to move forward with releasing on Terraform registry from this project? Looks like yours is the upstream for some forks which have already been published, but I believe we should convey efforts to maintain an "official" release. What's your opinion?

[2020-11-12 08:08] tiramiseb commented on #48
Hello,

As the original developer (but not using Terraform these days), I think the same, we have created the go-gandi group precisely to maintain "official" releases (even if we are not Gandi employees)...

[2020-11-22 12:55] lyda commented on #48
Would it be useful for customers to ask for official blessing for this?

[2020-11-30 16:56] JacobHayes opened #54 "Add support for DNSSEC config"
Hey all, thanks for the great plugin, excited for the v2 release on the registry! Just wanted to add a backlog request for configuring DNSSEC if anybody has time.

[2021-01-26 19:29] pichouk commented on #48
Hi, any news on this ? Do you think that this (great and useful) provider will be pushed to Terraform Registry one day ? Or still be maintained like before, without using the registry ?

[2021-04-28 17:03] xaque208 opened #55 "Import a gandi_livedns_domain resource"
When using the domain FQDN as the import id, it seems to succeed sometimes, but then when I go to plan/apply, the ID is not known and doesn't seem to be stored in the state file, so it wants to create a domain that already exists.  Is there a trick to importing an existing domain?

[2021-07-10 15:25] fgm commented on #40
Similar case. Also similar to #2.
[code]

In addition, with terraform 1.0.2, it adds a warning on the `plan` operation like this:

*_Unless you have made equivalent changes to your configuration, or ignored the relevant attributes using ignore_changes, the following plan may include actions to undo or respond to these changes._*

The warning is worrying. When checking the zone on Gandi. However af

[2021-08-11 13:23] fgm commented on #40
Actually, I noticed that using the following format, there is no longer an issue with TF 1.0.4 and the latest Gandi provider:

[code]

[2021-08-24 09:56] insertjokehere commented on #54
I've got a working implementation of this, I'll put up a PR in the next few days once I've got it cleaned up and written some docs

[2021-08-25 21:48] lbruno opened #57 "Provider attempts to recreate imported domain due to lack of TTL"
I think this happened because the TTL field is marked as ForceNew, that will then fail. Personally, I think this was caused by the TTL field not being read in this block:

https://github.com/go-gandi/terraform-provider-gandi/blob/master/gandi/resource_livedns_domain.go#L62-L73

I didn't give my API token on Gandi the permission to delete/recreate domains, so I can't say whether this would be a one

[2021-09-07 21:24] lbruno opened #58 "Current install instructions don't work with current Terraform"
Trying to use `github/go-gandi/gandi` as the `source` tells me to try `github.com`, which then proceeds to fail with a message complaining that this is a GitHub repository.

Trying to use `github.com/go-gandi/terraform-provider-gandi` fails because the `terraform-provider-` prefix is hardcoded as a no-no in Terraform.

At this point, I've built my own `terraform-provider-gandi.exe`, plopped it dow

[2021-09-07 21:27] lbruno commented on #58
and I guess #48 is where yous are tracking this, never mind!

[2021-09-07 21:27] #58 closed

[2021-10-20 07:12] tiramiseb opened #63 "Workflow fails"
Sorry, I didn't check.

@robbyoconnor can you fix?
Thanks

![image](https://user-images.githubusercontent.com/1292007/138045181-7e2c4fe8-79ae-4287-885c-8dbd5ffbd372.png)

[2021-10-20 07:16] robbyoconnor commented on #63
lemme fix that.

[2021-10-20 07:23] robbyoconnor commented on #63
See #64

[2021-10-20 07:29] tiramiseb commented on #63
Looks like me in a regular day with ADHD :joy:

[2021-10-21 08:29] taoufik07 opened #66 "Invalid Schema: Failed to set href"
I think the new changes "break" the provider, well it puts the light on a schema mismatch.

The defined schema doesn't have a `href` and the code tries to set an `href` which now raises an error thanks to the added error checks

The error `example.com/subdomain/A: Invalid address to set: []string{"href"}`

https://github.com/go-gandi/terraform-provider-gandi/blob/2d998de00fa4e42270e1557f4ff328dd49

[2021-10-21 10:33] taoufik07 opened #68 "Error EOF when destroying resources"
When destroying `gandi_livedns_record`, the provider destroys it  (After checking gandi's admin panel) and returns an `Error EOF`

After checking, the error message is indeed empty

![Screenshot 2021-10-21 at 12 33 26](https://user-images.githubusercontent.com/22898667/138260907-eb62ba15-8801-4fc0-9ea8-9fc8ae4deb2e.png)

[2021-10-21 10:36] taoufik07 commented on #68
Only happens after adding linting, works fine with https://github.com/go-gandi/terraform-provider-gandi/commit/00522976e3cf5c30f7c5730ab2d2c06f22b4a75f

[2021-10-21 10:44] #66 closed

[2021-10-22 13:26] #68 closed, assigned to nobody

[2021-10-25 08:44] taoufik07 opened #71 "Versioning and release"
The project doesn't have a release/versioning system, which can cause lot of troubles every time a new commit is pushed especially that there's no tests.

I would suggest to start by releasing [go-gandi](https://github.com/go-gandi/go-gandi/) (v0.1.0) and then pin it and relase the current repo.

[2021-10-31 14:36] taoufik07 commented on #48
@tiramiseb @thommay I've pushed changes to fix the release via #72 and created this issue #71 to track versioning, can you take a look and release a version with the latest changes so we can avoid always building master?

[2021-11-26 08:51] b-enoit-be commented on #48
I would really love to see this repository ending in terraform provider too, also because, by holding it, we ended in a non-sensical situation where we have five different gandi providers [listed in the registry](https://registry.terraform.io/search/providers?q=gandi), where all of them are forks of this repository, some of them up to date, some of them dozen of commits behind.

[2021-12-08 13:00] yanndinendal commented on #48
Hi, you will be happy to hear that there is now a sandbox available for the v5 API:
https://api.gandi.net/docs/reference/#Sandbox-API :)

[2021-12-08 14:05] nlewo commented on #48
And since few days, the provider can takes an `url` parameter allowing to easily switch to the Sandbox API!

[2021-12-13 09:14] nlewo commented on #48
FYI, i pushed a PR to regenerate the documentation #77 (accordingly to the Terraform documentation).

[2021-12-13 09:16] nlewo commented on #71
I don't think we need to release go-gandi since it is pinned by commit ID (it would be nice to release it but i'm not sure we currently have the bandwidth to do it).

[2021-12-13 10:02] tiramiseb commented on #71
I think we should release go-gandi at some point. @nlewo how do you think it could cause harm?

[2021-12-13 10:18] nlewo commented on #48
@tiramiseb I'm volunteer to publish a release.
It would however be much more simple with accesses to GitHub secrets and webhooks of this repository.
Would you be ok to give me such permissions?

[2021-12-13 10:28] nlewo commented on #71
I actually don't think it is required for a release of the `terraform-provider-gandi` project since the `go-gandi` dependency is pinned.

Note I'm definitely not against releasing `go-gandi`!

However, since we are trying to release `terraform-provider-gandi` since more than a year, i was suggesting to ignore (for now) all non-vital steps: i think it's better to have a non-perfect release rather t

[2021-12-13 11:32] taoufik07 commented on #71
Yes, pinning go-gandi is not required, but releasing won't take much time, we only need someone with enough permissions to do the release, I'll add the release workflow to go-gandi

[2021-12-13 15:05] nlewo commented on #48
@tiramiseb I unfortunately don't have enough power (i can't see the tab "Settings").
Otherwise, we could pair for the releasing process.

[2021-12-13 15:57] nlewo commented on #48
@tiramiseb I added the todo items "Release go-gandi" in this ticket description.

And thx for powers!

[2021-12-21 21:37] vincentbernat opened #80 "For a domain, update the nameservers"
Hey!

I am trying the example in the README and it does not work as specifying a domain require to provide all the contacts.

[code]

This is not very convenient. I am not very familiar with Terraform. Is there a way to not provide these information when I just want to manage the nameservers of a domain?

[2021-12-22 09:01] nlewo commented on #80
@vincentbernat Unfortunately, you currently have to provide this block.
Moreover, if your domain already exists, you first need to [import](https://www.terraform.io/cli/import) the existing resource into your Terraform state.

[2021-12-22 09:33] vincentbernat commented on #80
Understood. So, the example in the README is unfortunately incomplete. I wonder if we could split the data into two resources to avoid to manage contacts when we only want to manage the name servers.

[2021-12-22 16:39] nlewo commented on #80
The `domain` resource needs to have a owner block because it is required (by the API) to create a domain. However, we could make `admin`, `tech`, `billing` blocks optional.
Would this be sufficient for you use case?

Otherwise, we would have to remove the `nameservers` attribute from the domain creation and add a new resource `gandi_nameservers`. We can't have both the `nameserver` attribute in th

[2021-12-22 17:40] tiramiseb commented on #80
I vote for making admin, tech and billing blocks optional.

[2021-12-22 19:01] vincentbernat commented on #80
I would prefer the second solution. It seems the API is OK with not providing nameservers when creating a domain. As this has not been released yet, maybe it would be acceptable to break now? I can provide code if it helps. But I understand we are pretty late in the release cycle. But again, the first example in the README does not work. :)

[2021-12-22 19:30] tiramiseb commented on #80
@vincentbernat the idea of terraform is to have the exact same thing in your config files than in the remote API / management pages.

ie. when you manage a domain, you manage the domain as a whole, not just a part of it while ignoring the rest.

if you "just" want to "manage this part of that thing", terraform is probably not the right tool.

[2021-12-22 20:00] vincentbernat commented on #80
I understand. The API seems to allow to manage the nameservers independantly, so it could also be done with Terraform, like @nlewo suggests: a domain would be a name and contacts. And another resource for name servers.

However, in my personal case, I am using this provider through Pulumi, so I was able to workaround this problem and only maintain the nameservers by fetching the existing contacts

[2021-12-23 08:25] vincentbernat opened #83 "Creating new DNSSEC key may fail randomly"
Hey!

When creating a new DNSSEC key, we may get a failure while the key is created because we don't wait enough time to retrieve its ID. We may get `Cannot find DNSSEC key  for domain bernat.ch`. Creation is done by creating, sleeping two seconds and trying to get the ID by walking existing key and matching on the public key. This should be replaced by a retry logic.

I don't have a toy domain to

[2021-12-25 09:28] marcaurele commented on #80
Currently with those 4 blocks it's not even possible to have those as a (local) variable to avoid boilerplate content:
[code]

complains about `Insufficient admin blocks` (x4) and `Unsupported argument`. It would make it easier to manipulate if it was an attribute with a Map structure rather than a block.

_So far the experience with the provider is rather painful in order to manage all my domains

[2021-12-25 13:30] tiramiseb commented on #80
Looks like we need to get deeper on this. It wasn't so complex at the beginning of the project :thinking:

Just so you know, this project is not endorsed by Gandi in any way. I started it a few years ago, to be able to manage my domains with Terraform. I don't use Terraform currently (I hope it will change, but I have other big projects in my life currently)...
I am really happy other benevolent d

[2021-12-25 13:37] tiramiseb commented on #80
@nlewo wdyt? If these blocks are optional, as you suggested, would it be enough to make it easier to use?

[2021-12-28 14:14] nlewo commented on #80
I would propose these actions before the release:
- make `admin`, `tech`, `billing` block optional: this would allow us to fix the README
- add a resource `nameservers` (i already started to work on it)
- [deprecate](https://www.terraform.io/plugin/sdkv2/best-practices/deprecations#provider-attribute-removal) the `nameservers` attribute in the domain resource and remove it on the next release. Thi

[2021-12-28 14:21] vincentbernat commented on #80
Looks great for me!

[2021-12-28 14:33] tiramiseb commented on #80
lgtm, many many thanks @nlewo

[2021-12-29 00:52] robbyoconnor commented on #57
This hit me as well. @nlewo any advice here as our gandi person?

[2021-12-29 01:25] robbyoconnor commented on #40
I assume this is no longer an issue?

[2021-12-29 01:29] robbyoconnor commented on #55
This is applicable to me. Does anybody have the same issue? I tried importing the `gandi_livedns_domain` resource but when I run `terraform plan`, it sees it as dirty if I add a TTL argument, not doing so makes it error out.

cc @nlewo @thommay?

[2021-12-30 09:11] nlewo commented on #55
I think this is because the function [resourceLiveDNSDomainRead](https://github.com/go-gandi/terraform-provider-gandi/blob/master/gandi/resource_livedns_domain.go#L62) doesn't set the TTL value: when the resource is imported, it is then `null` in the state and Terraform tries to reconcile it on the next apply.

[2021-12-30 17:14] nlewo commented on #80
@vincentbernat fyi, i submitted https://github.com/go-gandi/terraform-provider-gandi/pull/85

[2021-12-31 01:31] robbyoconnor commented on #55
@nlewo I'll PR it soon as I finish migrating infra and then import unless you get to it first =)

[2021-12-31 16:10] nlewo opened #88 "Remove the resource_domain nameservers attribute"
We have plan to remove the `resource_domain` `nameservers` attribute and create a dedicated `resource_nameservers` instead.

The main objective is to allow people to manage nameservers of a domain in Terraform without having to manage the domain resource with Terraform. A domain is actually painful to manage with Terraform because
- contact informations needs to be provided
- the API doesn't allow

[2021-12-31 16:10] #88 closed

[2022-01-03 16:42] scottmuc commented on #40
@robbyoconnor I'm due for a TF and Gandi provider upgrade. If/when I do that, I'll post my results.

[2022-01-04 18:15] vincentbernat opened #89 "LiveDNS domain import cannot import TTL"
Hey!

TTL is a required attribute for a LiveDNS domain but the API provides no way to import it. Therefore, when importing it, we don't have a TTL and when applying, the TTL being mandatory and marked as ForceNew, the resource will be deleted and created again.

[code]

The [API documentation](https://api.gandi.net/docs/livedns/#post-v5-livedns-domains) says TTL is inside zone and all attributes o

[2022-01-04 18:23] vincentbernat commented on #89
Oh, that's #57!

[2022-01-04 18:23] #89 closed

[2022-01-04 18:24] vincentbernat commented on #55
See also #57.

[2022-01-08 22:36] vincentbernat commented on #40
I have ran into this issue too. As long as you quote the values, this is not an issue. I suppose this could be fixed more gracefully by normalizing a bit. This would fix #41 too. For me, it works good enough and I won't propose a fix myself.

[2022-01-13 09:56] #83 closed

[2022-01-13 14:23] #57 closed

[2022-01-19 10:42] nlewo commented on #48
The v2.0.0 has been published!

https://registry.terraform.io/providers/go-gandi/gandi/latest

Thank you all!

[2022-01-19 10:42] #48 closed

[2022-01-19 10:44] nlewo commented on #71
The go-gandi lib have been released and the Gandi Terraform provider v2.0.0 has been published!

https://registry.terraform.io/providers/go-gandi/gandi/latest

Thank you all!

[2022-01-19 10:44] #71 closed

[2022-01-19 11:12] tiramiseb commented on #71
:tada:

[2022-01-23 03:00] AdamJacobMuller commented on #88
This seems to not work since `gandi_domain` still requires the `nameservers` attribute

[code]

[2022-01-24 09:35] nlewo commented on #88
@AdamJacobMuller Could you show the full error message?

Are you sure to use the latest provider version ([because the attribute is optional](https://github.com/go-gandi/terraform-provider-gandi/blob/3b95ada8e52808510211efd1826b92fda803db2d/gandi/resource_domain.go#L29))?

[2022-01-24 17:45] AdamJacobMuller commented on #88
Hi @nlewo,

I'm using v2.0.0

Full error is only slightly longer...
[code]

[2022-01-25 08:22] nlewo commented on #88
@AdamJacobMuller I can't reproduce. Moreover, the [documentation generated from the `schemas](https://registry.terraform.io/providers/go-gandi/gandi/latest/docs/resources/domain#required)` also claims this attribute is not required.

It really looks like your are not using the version `2.0.0` of the provider.

Could you run a `init` and  `plan` from an new directory (without any `.terraform*` and

[2022-02-02 19:30] scottmuc commented on #39
@nlewo yup, that's totally fair. Really appreciate the cleanup as well. I still haven't upgrade, but that's on me.

[2022-02-03 14:46] net-expertise opened #100 ""Can't find" error after manual removal"
Hi,

Deploying a simple record like
`resource "gandi_livedns_record" "www" {
  zone = "${gandi_livedns_domain.example_com.id}"
  name = "www"
  type = "A"
  ttl = 3600
  values = [
    "192.168.0.1"
  ]
}`

Removing manually from Gandi portal

I am getting "Error: 404: Can't find the DNS record www/A in the zone" when running 'terraform apply' once again.
'terraform refresh' throws the same error

[2022-02-03 15:46] nlewo commented on #100
I think this is the Terraform expected behavior: the resource exists in its state and its checks the state corresponds to the deployed resources before generating the diff to apply.
In your case, the state differs from deployed resources.

You could either use `terraform state rm` or `terraform taint` i guess.

[2022-02-03 15:54] nlewo commented on #100
You could also use `terraform apply -refresh=false -replace=<>`.

[2022-02-04 22:23] dhess commented on #88
I'm seeing the same thing as https://github.com/go-gandi/terraform-provider-gandi/issues/88#issuecomment-1020370752 and I'm definitely using 2.0.0.

[2022-02-05 08:30] nlewo commented on #88
@dhess Do you reproduce from a clean directory (no state or other terraform files)?

[2022-02-11 09:03] jamestait commented on #88
I have existing domains that I'm now importing into a terraform config. I've made the change as recommended in the migration instructions. My terraform plan now shows the `nameservers` attribute being cleaned out to an empty list, and the new `gandi_nameservers` models being created. This makes sense from the point of view of the configuration, but will this be a noop on the server side, or will t

[2022-02-11 19:21] jamestait opened #101 "Contacts on imported models removed and created in terraform plan"
I have several pre-existing domains that I'm importing into a new terraform config. The initial import of the `gandi_domain` resources has worked fine, but with no further changes `terraform plan` shows that the `admin`, `billing`, `owner` and `tech` attributes will be removed and re-created with identical content:

[code]

Is there another resource I need to import in order to prevent this?

[2022-02-16 17:04] nlewo commented on #88
@jamestait the nameserver will be destroyed and recreated on the API. So, this won't be a noop.

[2022-02-16 19:37] scottmuc commented on #39
@nlewo FYI, I finally did the migration: https://github.com/scottmuc/infrastructure/commit/6f8c20897ced9af444173b9b56fddbdc0347262c

I had to delete all my MX records and my existing terraform state file.

Glad to be up to date... now to use a modern version of terraform :-)

[2022-02-17 08:22] nlewo commented on #39
@scottmuc thanks for the feedback and congrats for the migration!

Also, it's pleasant to see these public Terraform files ;)

[2022-02-17 10:00] onnimonni opened #103 "If domain has trustee_roles the gandi_domain data source fails"
I noticed that some of my domains use `trusted_roles` this causes an error with terraform:

Example terraform file to replicate this (example.com needs to have `trusted_roles`):
[code]

[code]

[2022-02-17 10:08] onnimonni opened #104 "Feature request: add gandi_domain_renewal resource"
Hey!

It's great that we have the `gandi_nameservers` as separate resource already so I don't need to handle the domains in terraform.

Could we add a optional new resource which can be used to toggle the automatic renewal for domain on or off?

Then it would be much more granular than editing everything in the `gandi_domain` resource.

[2022-02-17 16:01] nlewo commented on #103
@onnimonni this issue concerns the go-gandi repository: the `trustee_role` type defined in the [go-gandi repository](https://github.com/go-gandi/go-gandi/blob/60f83a2082d850f9e4707504e374f31dd94ff36c/domain/types.go#L110) is the type specified by the public API documentation... but this is not what you got from the API.

I opened a ticket at Gandi about this issue.
I guess we will have to fix the

[2022-02-18 08:56] nlewo commented on #100
The go-gandi PR https://github.com/go-gandi/go-gandi/pull/63 would allow us to catch 404 error in order to fix the current wrong provider behavior.

[2022-03-03 20:31] erbridge opened #105 "Failed to respond to the plugin.(*GRPCProvider).ApplyResourceChange call"
When attempting to `terraform apply` a simple `gandi_domain` update:

[code]

The Terraform:

[code]

[2022-03-08 14:41] adriamanu opened #106 "Already existing TXT record"
Hello,
I've got an issue with the creation of a **gandi_livedns_record** of type **TXT** with a _name that is already existing_.
I've got the same issue by directly using the api with a POST method so i think this is a normal behaviour of the gandi provider.

[code]

While using the Gandi front-end they allows to create multiple TXT records with the same name, and to do so they are using the PUT m

[2022-03-09 17:12] nlewo commented on #106
Hey @adriamanu!
First of all, thanks for this nice report;)

If I understand correctly, you would like to manage with Terraform a resource (`gandi_livedns_records`) that can also be updated manually.
I'm not sure this is a usecase supported by Terraform and it seems pretty hard to handle it properly (for instance, deleting the resource with Terraform would then not mean the whole resource has to b

[2022-03-10 11:06] nlewo commented on #105
Thanks for this bug report.

Is the value of `given_name` an empty string in your `owner` block?

[2022-03-10 16:17] nlewo commented on #105
@erbridge I think https://github.com/go-gandi/terraform-provider-gandi/pull/107 should fix your issue.

Would you be able to try it?

[2022-03-15 12:21] erbridge commented on #105
How do I specify an unreleased provider version? Sorry - not had to do that before.

[2022-03-15 12:21] erbridge commented on #105
No, it has a value.

[2022-03-18 10:58] nlewo commented on #105
@erbridge You can run `make build` on my branch to produce an executable in your current directory. Then, you can copy this executable to your Terraform directory (`your-terraform-workspace/.terraform/providers/github/go-gandi/gandi/2.0.0-rc3/linux_amd64/`) and run `terraform init`. The news provider should be be used.

(maybe there is a more convenient way...)

:thinking:

[2022-03-18 15:05] erbridge commented on #105
`terraform init` wants to fetch a new version from the registry every time 🤔

[2022-03-22 16:32] #100 closed, assigned to nobody

[2022-03-22 16:44] nlewo commented on #106
@adriamanu I tried to get some ideas on the [Terraform discourse](https://discuss.hashicorp.com/t/mixing-declarative-and-manually-added-values-in-a-resource/36948/2) but i didn't get any feedback:(

Yes, it is.

So, think it's important to keep the current behavior: a record is full managed by this Terraform provider. To address your usecase, i would propose to add a new flag on the resource `gand

[2022-03-24 10:17] adriamanu commented on #106
Thank you for asking on other forums, appreciate it ! 🙏🏼

Concerning the code of my use case, i thought it would have been better to have a dedicated resource on the provider.
That way it doesn't impact current users and don't modify the behaviour of resources created with `gandi_livedns_record`.
Moreover, my use case is really specific to a **TXT Type** of dns record, it can be weird to have the

[2022-03-24 10:40] raspbeguy commented on #88
I am using last provider version:

[code]
 I have the following config:

[code]

When I `terraform plan` I have this:

[code]

And when I `terraform apply` I have this:

[code]

[2022-04-04 08:20] nlewo commented on #88
@raspbeguy hm, i don't understand how `plan` can success while `apply` fail on this error.
Did you create the resource with a Terraform provider version < 2.0 ?
If it is the case, could you remove this resource from the state and import it?

[2022-04-04 08:21] #105 closed

[2022-04-04 08:22] raspbeguy commented on #88
No I imported it. Never used this provider before.

[2022-04-07 15:03] nlewo commented on #103
The API documentation has been fixed: https://api.gandi.net/docs/domains/#get-v5-domain-domains-domain

Now, we need to update the schema in the go-gandi library.

[2022-04-15 14:52] nlewo commented on #88
@AdamJacobMuller @raspbeguy @dhess your issue should now be fixed in [version `2.0.1`]( https://registry.terraform.io/providers/go-gandi/gandi/2.0.1).

[2022-04-16 21:04] dsx opened #113 "Is this GH org endorsed or owned by the Gandi.net?"
It is not clear whether this GH org is owned or endorsed by the Gandi.net. Please clarify. Thank you!

[2022-04-19 08:48] nlewo commented on #113
I opened [a PR](https://github.com/go-gandi/terraform-provider-gandi/pull/114) to clarify this.

To provide more detail, this project has been developed without any official interaction with Gandi by @tiramiseb and [others](https://github.com/go-gandi/terraform-provider-gandi/graphs/contributors). Since few months, I contribute (on my Gandi work hours) to this project.

Why you are interested in t

[2022-04-19 20:11] dsx commented on #113
Thank you for clarifying this, @nlewo.  I'm asking because I'm considering using this code in production for a customer of mine.  Knowing who, what, where, when, and why helps estimate future support efforts.

[2022-04-19 20:11] #113 closed

[2022-04-21 08:22] nlewo commented on #113
@dsx Thx for the details!

(btw, we merged the PR to make this more explicit in the readme)

[2022-04-24 17:41] flippipe opened #115 "Terraform import gandi_mailbox"
Hi,

When importing a gandi_mailbox I've got this error

[code]

In the resource definition is not missing the address information?

https://github.com/go-gandi/terraform-provider-gandi/issues/new?permalink=https%3A%2F%2Fgithub.com%2Fgo-gandi%2Fterraform-provider-gandi%2Fblob%2Ffdca6cd88d0f5fc2445ab0c137a85f50f20161c3%2Fgandi%2Fresource_mailbox.go%23L12

Answer from API

[code]

[2022-04-29 12:58] nlewo commented on #115
@flippipe yes, the address is missing from the schema :/ There are also other missing fields and the implementation of this resource looks quite fragile.

[2022-05-16 16:25] KillianKemps opened #116 "Feature request: add FQDN attribute to gandi_livedns_record"
Currently, when referencing a record into another CNAME, I need to write something like this in the `values` argument:

[code]

It would be nice to be able to only write this:

[code]

Would it be possible to add something named like the `fqdn` attribute on gandi_livedns_record?

Also, when I looked into the [source code](https://github.com/go-gandi/terraform-provider-gandi/blob/master/gandi/resou

[2022-05-31 15:33] nlewo opened #118 "Release 2.1.0"
I'm planning to publish the release 2.1.0 in the next couple of days!

Thank you all!

[2022-06-14 11:10] Jackbennett opened #120 "resource gandi_nameserver hangs when setting records with trailing period."
The gandi api seems to strip trailing `.` periods from the nameserver record. Terraform times-out on retry thinking the nameserver hasn't been changed. `tfstate` has the correct trailing period for for azure and gandi, it's as if the api returns none-trailing records.

`ns1.example.com.` -> tf apply -> `ns1.example.com` == set but tf hangs expecting `ns1.example.com.` as if it isn't applied.

logs

[2022-06-30 02:10] vincecima opened #121 "gandi_domain nested blocks marked as optional, are actually required"
Hello,

I was able to import an existing domain into my configuration by making sure I had the `owner`, `admin`, `tech` and `billing` nested blocks set with exactly the existing values. The plan and apply still showed that the values were being removed and added.

Once the import worked, I tried removing the `admin`, `tech` and `billing` blocks as the docs have them set as optional. However, when

[2022-07-24 17:45] keyneston commented on #101
I'm also encountering this issue in quite the similar way. Have domains, imported it:

[code]

Then I get simliar additions and removals to the ticket.

[2022-07-27 15:29] s256 commented on #121
I'm seeing the same behavior. Also changing one value of the nested block leads to a replacement of the block instead of an update.
This however leads to the mentioned problem here: the fields are mandatory and are not to be removed. Hence an "update" fails too.

[2022-07-28 07:33] Mika56 opened #122 "Managing domain tags"
We're considering using Terraform to manage our domains' configuration. As a reseller, we have a lot (200+) domains and would be moving our configuration gradually.

As such, being able to tag our domains with a `terraform` tag would allow us to quickly see which domains are managed by Terraform.

Managing domain tags is possible via the API https://api.gandi.net/docs/domains/#v5-domain-domains-do

[2022-07-28 16:07] nlewo commented on #121
I tried to import a domain, and apply the state: it worked as expected. Are you sure your definition correspond to the current resource state?

However, I confirm there are some issues with the contact update.

[2022-07-29 15:38] nlewo commented on #122
Hello @Mika56

Yep, that would definitely be nice to add the tags support in the `gandi_domain` resource.

We could add a `tags` attribute in the `gandi_domain` resource. By default, i think Terraform should manage all tags: if some tags have been set outside of the Terraform configuration, they are deleted in order to reconcile the API state with the configuration.

However, we could add a boolea

[2022-07-29 15:44] Mika56 commented on #122
Hi!

Our use case is this:
* Terraform adds `terraform` so people on my team know they shouldn't manage the zone here but via Terraform instead
* We don't use auto renew and always renew manually. When a client stops using our services, we let them transfer their domains but they don't always. To prevent renewing unused domains, we manually add the "Do not renew" tag on the domain. I feel this one

[2022-07-29 16:30] keyneston commented on #121
@nlewo I imported my domains and then ran `terraform apply`. It is hard to share the specific details becauser it contains personal information, but I've cleaned up the attached gist. Hopefully it reflect the situation well enough that it is still helpful. If you want uncensored details I'm happy to chat off list.

https://gist.github.com/keyneston/56e3b619fe5742ae02e39f8a818d5341

[2022-07-30 07:59] nlewo commented on #121
@keyneston Thanks for these details!
Could you try to explicitly specify the `extra_parameters` attributes in each contact block?
[code]
It looks like the domain API has generated this attributes while you are not specifying it in your configuration. Terraform is then trying to update block to remove this attribute.
If my hypothesis is correct, we could open a dedicated issue to fix this because i

[2022-07-30 10:51] keyneston commented on #121
Yea adding the extra params does stop terraform from doing a delete and add, but the issue of it doing a delete and add is still there if any attribute changes.

For example if I were to change my City to `"Foo Bar"` in one instance it does a full delete of the owner settings, which it can't because you can't have a domain without owner information. Then attempts to add the owner settings back in.

[2022-07-30 14:56] nlewo commented on #121
I actually started working on the contact update issue: https://github.com/go-gandi/terraform-provider-gandi/pull/123

[2022-08-01 08:50] nlewo commented on #122
If the team in charge of adding the flag `Do not renew` knows how to use Terraform, I fail to see why this team should manually do it ;) Pushing this kind of changes with Terraform brings some befenits (such as a log of this action in a Git repository).
(Also, instead of setting this flag, maybe the team could even also disable the autorenew flag via Terraform.)

But, you are the user and you know

[2022-08-01 12:56] Mika56 commented on #122
You may be right, now might be a good time to change how we do things. As far as I'm concerned, we've been doing like this since the dawn of time 🙃

Since I won't be the one implementing it you 100% should implement how you think is the best for everyone. I think I can work with or without `mutable_tags`, you've made a good point.

[2022-08-02 07:09] nlewo commented on #121
This is fixed by https://github.com/go-gandi/terraform-provider-gandi/pull/123

[2022-08-02 07:09] #121 closed

[2022-08-02 07:23] nlewo opened #125 "Add the attribute `tags` on the `gandi_domain` resource"
We want to add the attribute `tags` on the `gandi_domain` resource.

Note this [API call](https://api.gandi.net/docs/domains/#v5-domain-domains-domain-tags) needs to first be provided by the [go-gandi library](https://github.com/go-gandi/go-gandi/blob/master/domain/domain.go).

[2022-08-02 07:37] nlewo commented on #122
I created https://github.com/go-gandi/terraform-provider-gandi/issues/122 to add the `tags` attribute. I'm however not sure there will be more work on this topic during this month (August...).

[2022-08-02 08:37] s256 commented on #121
tested it. works :)
Blocks are still replaced instead of updated, but that of course can be because of the GANDI API.

[2022-08-02 09:02] nlewo commented on #121
Yep, the Gandi API doesn't allow you to update a specific attribute of a contact.

@s256 Thank you for the test :wink:

[2022-08-04 11:09] sandstrom commented on #122
I agree, the ability to manage tags via the Terraform provider would be great.

Basically just being able to set/remove/update any tag value on a domain via Terraform.

[2022-08-23 16:39] amjad489 opened #126 "Already existing MX record"
Hi,

I'm trying to create all the **`gandi`** DNS records which were manually created by someone else. Till now I was able to create all the existing **`A`**, **`CNAME`**, **`TXT`** records successfully(which were already existing in gandi DNS) to terraform without any issues.

However i'm having an issue with **`MX`** records where in it says that the record already exists.
[code]

i'm assuming t

[2022-08-24 07:50] nlewo commented on #126
@amjad489 do you `terraform import` these resources?

[2022-08-24 09:23] amjad489 commented on #126
hi @nlewo no, i added all the records to locals file and did terraform apply. all went through except the `MX`
[code]

[2022-08-24 10:24] nlewo commented on #126
If a resource already exists in the API, you should then have to define it in your Terraform configuration file and then run `terraform import` to populate the Terraform state. Once imported, you could then run `apply`.

See https://learn.hashicorp.com/tutorials/terraform/state-import?in=terraform%2Fstate for more details.

[2022-08-24 11:07] amjad489 commented on #126
yeah to make it working that's what i did

[2022-08-24 11:07] #126 closed

[2022-08-26 16:18] nlewo commented on #122
See https://github.com/go-gandi/terraform-provider-gandi/pull/127 :)

[2022-09-01 08:20] rawkode commented on #120
I can confirm this is an issue with the Pulumi provider too, based on this Terraform provider.

[2022-09-02 15:28] nlewo commented on #101
Should have been fixed by #123

[2022-09-02 15:28] #101 closed

[2022-09-07 13:13] sandstrom opened #129 "Support for webforwarding"
Many of our domains are redirects, for example we might have `my-corp.dk` redirecting to `my-corp.com`.

For these, we use LiveDNS and Web Forwarding. Great if we could configure these via Terraform.

Also, would be neat if we could also automatically configure a basic HTTPS certificate for them, such that we can have Web Forwarding work with HTTPS too (basically all browsers are going HTTPS-only

[2022-09-24 10:58] strboul commented on #115
Is there any update on this one?

[2022-09-30 13:08] #125 closed

[2022-09-30 13:12] nlewo commented on #122
@Mika56 #127 have been merged and i will publish a new release of the provider.

Since this issue is about "managing domain tags", i close it. But i know we are not 100% you could adress your usecase with the current implementation.
So, feel free to reopen this issue or open a new one if you want "mutable" tags.

[2022-09-30 13:12] #122 closed

[2022-10-18 15:25] godric opened #130 "gandi_email_forwarding Failure when fetching infos from the API"
When trying to import a `gandi_email_forwarding` ressource created in the web UI OR whenever terraform attempts to refresh the state for ressources it created. I get the error:

Creating ressources works fine. But since any subsequent `plan` will crash, the ressource is completely unusable 😞

[2022-10-26 02:17] AshleyJackson opened #131 "Feature Request - List of Domains in gandi_nameservers"
A company with a wide range of domains may want to use a list of domains under the "gandi_nameservers" list to change name servers, instead of each domain having their own "gandi_nameservers" resource.

As we can no longer specify nameservers in gandi_domain, I believe this feature would be very useful.

The current design disallows a list and requires a string

[code]

An Example of a potential w

[2022-10-26 03:28] AshleyJackson opened #132 "Feature Request - Domain Transfer lock in gandi_domain"
Hello.

If possible, can an additional attribute be added to the resource "gandi_domain", potentially labelled "locked" with a Bool type?

The purpose would be to enable/disable Domain Transfer locking.
From what I can tell, it is possible via API: https://api.gandi.net/docs/domains/#v5-domain-domains-domain-status

Thanks.

[2022-11-28 21:46] cscotti opened #133 "installation - terraform plan"
The bootstrap script 4-terraform.sh stuck because of a prompt command
[code]
The value "admin" is not set.

Same for "provider.keycloak.url"

[2022-11-28 21:54] #133 closed